.payroll-process-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
  }
  
  .month-picker {
    margin-right: 20px;
  }
  
  .result-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-form-field {
    width: 200px;
  }
  
  button {
    margin-top: 20px;
  }
  
  .mat-tooltip {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    max-width: 300px;
    word-wrap: break-word;
  }
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
  