.pic-size{
  height: 10%;
  width: 10%;
}

.sidenav-container {
    height: 100%;
    /* background-color:gray; */
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(172,161,87,0.9921218487394958) 100%);
    
  }

  .side{
      background-color:blanchedalmond;
      color: White;
  }
  
  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  mat-sidenav-container {
    padding-top: 64px; /* Height of the toolbar */
  }
  
  mat-sidenav {
    width: 250px;
    /* background: rgb(34,97,195);
    background: linear-gradient(183deg, rgba(34,97,195,1) 0%, rgba(249,244,206,0.9921218487394958) 100%); */
      
    background: rgb(195,34,148);
    background: linear-gradient(180deg, rgba(195,34,148,1) 0%, rgba(223,199,34,0.9921218487394958) 100%);
  
  }


  
  .content {
    padding: 20px;
  }
  
  .active {
    font-weight: bold;
    color: #3f51b5;

  }
  .spacer {
    flex: 1; /* Creates a flexible space */
  }

  .logout-text{
    font-size: medium;
  }

  a{
    color:wheat;
  }

/* Add this to your global styles.scss or component-specific CSS */
.custom-toolbar {
  /* background: rgb(71, 34, 195);
  background: linear-gradient(112deg, rgba(71, 34, 195, 1) 0%, rgba(34, 146, 223, 0.992) 100%); */
  display: flex;
  justify-content: space-between;
  color: white; /* Ensure text contrast */

  background: rgb(195,34,148);
  background: linear-gradient(112deg, rgba(195,34,148,1) 0%, rgba(223,199,34,0.9921218487394958) 100%);

}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      height: 40px;
      width: 40px;
    }
  }

  .project-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    
  }

  .logout-button {
    font-weight: bold;
  }
}

/* In styles.css or the component's CSS file */
.mat-list-item {
  color: white; /* This will set the text color of all list items to white */
}

.mat-nav-list a {
  color: white; /* This will set the text color of all anchor tags within mat-nav-list to white */
}

/* In styles.css or the component's CSS file */
.custom-nav-list a {
  color: white; /* This will set the text color of all anchor tags within custom-nav-list to white */
}
