<!-- 
<mat-toolbar class="custom-toolbar">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar> -->
  
<mat-toolbar color="primary" class="custom-toolbar">
  <!-- Logo Section -->
  <div class="logo-container">
    <!-- <img src="assets/logo.png" alt="Logo" class="logo" /> -->
  </div>

  <!-- Project Title Section -->
   <span class="project-title" style="font-size: 30px;">{{ title }}</span>

  

  <!-- Logout Button Section -->
  <button mat-icon-button (click)="logout()" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="side" ><br><br><br><br><br>
      <mat-nav-list class="custom-nav-list nav-list ">
         <a mat-list-item routerLink="/employees" routerLinkActive="active" >Employee Form</a>
        <a mat-list-item routerLink="/department" routerLinkActive="">Department List</a>
        <a mat-list-item routerLink="/salary" routerLinkActive="">Employee Salaray</a>
        <a mat-list-item routerLink="/salaryadv" routerLinkActive="">Salary Adv(Loan)</a>
        <a mat-list-item routerLink="/monthly_salary_det" routerLinkActive="">Monthly salary Adv det</a>
        <a mat-list-item routerLink="/leave" routerLinkActive="">Leave</a>
        <a mat-list-item routerLink="/Process_payroll" routerLinkActive=""  *ngIf="isAdmin()">payroll Process</a>
        <a mat-list-item routerLink="/offer_letter" routerLinkActive="">Offer letter gen</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content >
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>