<h2>&nbsp;&nbsp;&nbsp;&nbsp;Salary Management</h2>
<button mat-raised-button color="primary" (click)="openAddSalaryDialog()" disabled="true" *ngIf="false">Add New Salary</button>

<div class="container">
 

 <mat-paginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columns Definitions -->
    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef> Employee ID </th>
      <td mat-cell *matCellDef="let salary"> {{salary.employeeId}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let salary"> {{salary.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="basic">
      <th mat-header-cell *matHeaderCellDef> Basic </th>
      <td mat-cell *matCellDef="let salary"> {{salary.basic}} </td>
    </ng-container>

    <ng-container matColumnDef="houseRentAllowance">
      <th mat-header-cell *matHeaderCellDef> HRA </th>
      <td mat-cell *matCellDef="let salary"> {{salary.houseRentAllowance}} </td>
    </ng-container>

    <ng-container matColumnDef="specialAllowance">
      <th mat-header-cell *matHeaderCellDef> Special Allowance </th>
      <td mat-cell *matCellDef="let salary"> {{salary.specialAllowance}} </td>
    </ng-container>

    <ng-container matColumnDef="otherAllowance">
      <th mat-header-cell *matHeaderCellDef> Other Allowance </th>
      <td mat-cell *matCellDef="let salary"> {{salary.otherAllowance}} </td>
    </ng-container>

    <ng-container matColumnDef="grossSalary">
      <th mat-header-cell *matHeaderCellDef> Gross Salary </th>
      <td mat-cell *matCellDef="let salary"> {{salary.grossSalary}} </td>
    </ng-container>

    <ng-container matColumnDef="pf">
      <th mat-header-cell *matHeaderCellDef> PF </th>
      <td mat-cell *matCellDef="let salary"> {{salary.pf}} </td>
    </ng-container>

    <ng-container matColumnDef="esi">
      <th mat-header-cell *matHeaderCellDef> ESI </th>
      <td mat-cell *matCellDef="let salary"> {{salary.esi}} </td>
    </ng-container>

    <ng-container matColumnDef="pfFlag">
      <th mat-header-cell *matHeaderCellDef> PF/ESI </th>
      <td mat-cell *matCellDef="let salary"> {{salary.pfFlag}} </td>
    </ng-container>

    <ng-container matColumnDef="netSalary">
      <th mat-header-cell *matHeaderCellDef> Net Salary </th>
      <td mat-cell *matCellDef="let salary"> {{salary.grossSalary + salary.specialAllowance - salary.pf - salary.esi}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let salary">
        <button mat-icon-button (click)="openEditSalaryDialog(salary)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

 
</div>
