<h2 mat-dialog-title>{{ data.department ? 'Edit' : 'Add' }} Department</h2>

<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Department Id</mat-label>
      <input matInput [(ngModel)]="department.departmentId" name="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department Name</mat-label>
      <input matInput [(ngModel)]="department.departmentName" name="code" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
