<h1 mat-dialog-title>{{ data.id ? 'Edit Deduction' : 'Add New Deduction' }}</h1>

<div mat-dialog-content>
  <form [formGroup]="deductionsForm">
    <mat-form-field appearance="fill">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employeeId" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Deduction Amount</mat-label>
      <input matInput type="number" formControlName="amount">
      <mat-error *ngIf="deductionsForm.get('amount')?.hasError('required')">
        Deduction amount is required
      </mat-error>
      <mat-error *ngIf="deductionsForm.get('amount')?.hasError('min')">
        Deduction amount must be a positive number
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="!deductionsForm.valid">Save</button>
</div>
